{
  auto_https off
  admin off
}

:80 {
  @ws {
    header Connection *Upgrade*
    header Upgrade websocket
  }
  reverse_proxy @ws localhost:3000 {
    header_up Connection "upgrade"
  }

  reverse_proxy localhost:3000 {
    header_up Host {host}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto {scheme}
  }
}
